<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>文件上传Demo</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            text-align: center;
            font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .main-box {
            /*width: 600px;*/
            margin: 50px auto;
            padding: 10px;
            border: 1px solid #f5f7f9;
            border-radius: 2px;
        }
        .upload-header {
            border-bottom: 1px solid #cccccc;
            text-align: left;
            margin-bottom: 10px;
        }
        .upload-body {
            position: relative;
            width: 80px;
            background: #2d8cf0;
            text-align: center;
            color: #FFF;
            padding: 0px 5px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            padding: 5px;
        }

        .upload-body:hover {
            background: #57a3f3;
        }

        .upload-body span {}

        .upload-body form {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .upload-body form input {
            width: 100%;
        }

        .preview-item {
            margin: 0;
            padding: 5px;
            list-style: none;
            cursor: default;
        }
        .preview-item:hover {
            background: #f5f7f9;
        }
        .upload-list{
            margin: 10px 0px;
        }
    </style>
</head>
<body>
<div class="main-box">
    <div class="upload-header">
        文件上传Demo
    </div>
    <div class="upload-body">
        <span>上传图片</span>
        <form id="uploadForm" enctype="multipart/form-data" method="post">

            <input type="file" name="uploadFile" id="uploadFile" onchange="doUpload()" />
        </form>
    </div>
    <div class="upload-list">
        <label id="fileNameLabel"></label>
        上传进度:<progress id="pro" value="0"></progress>
        <label id="lab"></label>
        <input type="button" onclick="puase()" value="暂停">
        <input type="button" onclick="upload()" value="继续上传">
    </div>
</div>
<script src="javascripts/jquery/jquery.js"></script>
<script>

    var dataArray = new Array();

    //停止上传
    var puase = function (){
        dataArray.flag = true
    }
    //继续上传
    function upload(){
        dataArray.flag = false
        ajaxMethod(dataArray);
    }
    var doUpload = function () {
        var data = []
        data.formData = []
        data.formDataQueue = new Array()
        data.flag = false
        data.xhrQuene = new Array()
        dataArray.push(data)

        var fileStream = $('#uploadFile')[0].files[0];
        var name = $('input').val()

        $("#fileNameLabel").html(fileStream.name)
        var segment = 100;//段大小
        var chunk = parseInt(fileStream.size/segment) //计算出每片大小
        var chunks = [];
        var start = 0;
        //文件分片
        for (var i = 0; i < segment; i++) {
            var end = start + chunk;
            chunks[i] = new Object();
            chunks[i].start = start;
            //如果是最后一段，则到最后段
            if(i==(segment-1)){
                chunks[i].end = fileStream.size
            }else {
                chunks[i].end = end;
            }
            chunks[i].blob = fileStream.slice(chunks[i].start , chunks[i].end);
            chunks[i].start = start;
            start = end;
        }

        for(var i =0;i<chunks.length;i++){
            data.formData[i] = new FormData()
            data.formData[i].append('file_name',fileStream.name);
            data.formData[i].append('file_size',fileStream.size);
            data.formData[i].append('name', name)
            data.formData[i].set('start',chunks[i].start)
            data.formData[i].set('end',  chunks[i].end)
            data.formData[i].set('file', chunks[i].blob,i+fileStream.name)
            data.formDataQueue.push(data.formData[i])
        }

        ajaxMethod(dataArray)
    }


    function ajaxMethod(info){

        $("#pro").attr("value",dataArray[0].xhrQuene.length/dataArray[0].formData.length)
        $("#lab").html(parseInt(dataArray[0].xhrQuene.length/dataArray[0].formData.length*100))

        //flag 为 true 则暂停上传
        if(info.flag){
            return
        }

        //如果队列为空，则结束 ajax
        if (info[0].formDataQueue === undefined || info[0].formDataQueue.length == 0) {
            // array empty or does not exist
            console.log('已结束循环')

            info.shift()
            return
        }

        var xhr = $.ajax({
            url: 'http://localhost:3000/fileUpload',
            type: 'POST',
//            async: false,
            data: info[0].formDataQueue.shift(),
            processData: false,
            contentType: false,
            success: function (res) {
                if (res.status === 200) {
                    dataArray[0].xhrQuene.push(xhr)
                    ajaxMethod(dataArray)
                    console.log('成功', res)
                } else {
                    console.log('失败', res)
                }
            },
            error: function (res) {
                console.log('error', res)
            }
        })
    }
</script>
</body>
</html>
